# Dependencies
node_modules/

# Environment variables (VERY IMPORTANT)
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Build / temp files
dist/
build/